
.to-do-container{
    padding: 30px;
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
}

.to-do-container #msg{
    background-color: rgba(238, 108, 108, 0.3);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    display: none;
}



.to-do-container  input{
    
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid rgb(165, 163, 163);
    font-size: 20px;
}

.to-do-container  #btn{
    align-self: center;
    margin-bottom: 20px;
    padding: 10px 25px;
    border: none;
    background-color: rgb(202, 31, 31);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}



span.searchReset {
    position: relative;
    display: inline-flex;
    align-items: center;

    
}
span.searchReset span {
    position: absolute;
    display: block;
    top : 14px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
    font: 16px monospace;
    text-align: center;
    line-height: 1.1em;
    cursor: pointer;
}
span.searchReset input {
    padding: 10px;
    width: 100%;
    max-width: 800px;
    
}



#usersList li {
    font-size: 20px;
    margin-bottom: 20px;
    background: rgba(201, 195, 195, 0.2);
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

#usersList li span{
    color: red;
}

#usersList li button{
    border: none;
    cursor: pointer;
    background: rgb(202, 31, 31);
    color: rgb(247, 244, 244);
    padding: 10px 20px;
    border-radius: 8px;
}


